.prods {
	background-color:red !important;
	z-index: 9999999;
}

.thumbnail {
    margin-top: 10px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 30px;
	background-color:red !important;
}

.product {
	background-color:red !important;
	z-index: 9999999;
}

.product img {
	height: 200px !important;
}